@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Merriweather-regular";
    font-weight: 400;
    src: url("../public/assets/Merriweather/Merriweather-Regular.ttf");
  }
  @font-face {
    font-family: "Merriweather-bold";
    font-weight: 700;
    src: url("../public/assets/Merriweather/Merriweather-Bold.ttf");
  }

  @font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url("../public/assets/Poppins/Poppins-Regular.ttf");
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .fixedImportant {
    position: fixed !important;
  }
  html {
    scroll-behavior: smooth !important;
  }
}

.fixedImportant {
  position: fixed !important;
}
